.SeerInsightsContainer {
  background: #2c3c57;
  padding: 30px 50px;
}

.container {
  font-family: "roboto";
  background-color: rgb(38, 48, 68);
  opacity: 1;
}
.SeerInsightsContainer > h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  padding: 20px 0;
}

.seer-title{
  font-family: 'AllroundGothic';
}

