.SeerInsightsContainer {
  background: #2c3c57;
  padding: 30px 50px;
}

.container {
  font-family: "roboto";
  background-color: rgb(38, 48, 68);
  opacity: 1;
}
.SeerInsightsContainer > h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  padding: 20px 0;
}

.seer-title{
  font-family: 'AllroundGothic';

}

/* @keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-zoomOut {
  animation: zoomOut 0.3s ease-in-out forwards;
} */

@keyframes zoomOut {
  0% {
    transform: scale(0.85);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoomOut {
  animation: zoomOut 0.4s ease-out forwards;
}
